<header class="nav" id="top">
  <div class="container nav__inner">
    <a class="brand" href="{{ absURL "" }}" aria-label="{{ site.Title }} home">
      <img class="brand__mark" src="{{ absURL "images/nightblue-logo-v2-logo-transparent.png" }}" alt="" aria-hidden="true">
      <span class="brand__name"><span class="brand__name-night">Night</span><span class="brand__name-blue">Blue</span></span>
    </a>
    <nav class="nav__links" aria-label="Primary">
      <a href="{{ absURL "" }}">Blog</a>
      {{- range site.Data.menu }}
        {{- if not (in (lower .item) "contact") }}
      <a href="{{ if hasPrefix .url "http" }}{{ .url }}{{ else }}{{ absURL .url }}{{ end }}">{{ .item }}</a>
        {{- end }}
      {{- end }}
    </nav>
    <div class="nav__actions">
      {{- range site.Data.menu }}
        {{- if in (lower .item) "contact" }}
      <a class="btn btn--primary" href="{{ if hasPrefix .url "http" }}{{ .url }}{{ else }}{{ absURL .url }}{{ end }}">{{ .item }}</a>
        {{- end }}
      {{- end }}
    </div>
  </div>
</header>
