{{- $paginator := .Paginator }}
{{- $pages := $paginator.TotalPages -}}
{{- if gt $pages 1 }}
<nav class="pager" aria-label="Pagination">
  {{- if $paginator.HasPrev }}
  <a class="btn btn--ghost" href="{{ $paginator.Prev.URL }}" rel="prev">&larr; Newer</a>
  {{- else }}
  <span class="btn btn--ghost" aria-disabled="true">&larr; Newer</span>
  {{- end }}
  <span class="pager__status">{{ $paginator.PageNumber }} of {{ $pages }}</span>
  {{- if $paginator.HasNext }}
  <a class="btn btn--ghost" href="{{ $paginator.Next.URL }}" rel="next">Older &rarr;</a>
  {{- else }}
  <span class="btn btn--ghost" aria-disabled="true">Older &rarr;</span>
  {{- end }}
</nav>
{{- end }}
